[flake8]
max-line-length = 90
exclude =
    env/*,  # Ignore virtual environment directory
    migrations/*
    migrations/
    settings.py  # Exclude specific files by name
    tests/  # Exclude all files in the tests directory
    static/
    templates/
    settings.py
    env/
    .venv/
    venv/
    mysite/
    **/site-packages/**
    manage.py

extend-ignore = D106