@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media print {
  @page {
    size: 100mm 130mm;
  }

  /* .card-body * {
    visibility: visible;
    text-align: center;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20mm;
    height: 100vh;
  }

  .text-brown,
  .text-amber-700,
  .text-4xl {
    margin: 0 auto;
  }

  img {
    margin: 0 auto;
    display: block;
  } */

  .btn {
    display: none;
  }

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
